body {
    margin: 0;
}

ul {
	font-family: futura-pt-bold, sans-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 18pt; 

	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F00;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

/*Color change on hover.*/
li a:hover:not(.active) {
    background-color: #EF0000;
}

/*For the flush right "Randomize!" button.*/
.right {
    float: right;
}

/*To make the "Matt's Memes" unclickable and behave like normal text, even tho its in an <a> tag.*/
.inactiveLink {
   pointer-events: none;
   cursor: default;
}

/*This makes sure the page doesn't start behind the navbar.*/
.spacer {
    width: 100%;
    height: 55px;
}

@media screen and (max-width: 1200px) {
    ul {
        font-size: 12pt;
    }
    
    li a {
        padding: 25px 5px;
    }

    .spacer {
        height: 45px;
    }
}

@media screen and (max-width: 600px) {
    ul {
        position: static;
    }

    .right, li {
        float: none;
    }
    
    li a {
        padding-top:10px;
        padding-bottom:10px;
    }

    .spacer {
        height: 0px;
    }
}